<%- include("./partials/header")  %>
<nav class="navbar navbar-light bg-light cdn">
    <h1 ><a class="navbar-brand" href="/" style="color: #135b03; font-size:2em;text-align : center;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp              Bookmarks Manager</a></h1>
</nav>

<div class="container mt-5">
    <form action="/add/bookmark" method="POST" class="d-flex">
        <input type="text" name="bookmark" class="form-control" placeholder="Enter bookmark name"> &nbsp&nbsp&nbsp
        <input type="text" name="bookmark-link" class="form-control" placeholder="Enter bookmark link"> <br>
        
        <input type="submit" value="Add Bookmark" class="btn btn-md btn-primary mx-2">
    </form>
    <br>


    <form action="/search/bookmark" method="POST" class="d-flex">
        <input type="text" name="bookmark-search" class="form-control" placeholder="Enter bookmark to search"> <br>
        
        <input type="submit" value="Search bookmark" class="btn btn-md btn-primary mx-2">
    </form>


    <ul class="list-group my-5">
        <% bookmark.forEach(bookmarks => { %>
        <li class="list-group-item"><%= bookmarks.bookmark %> <a href="/delete/bookmark/<%= bookmarks._id %>"
                class="btn btn-danger btn-sm">Delete</a>
                <a href="/edit/bookmark/<%= bookmarks._id %>"
                    class="btn btn-danger btn-sm">Edit</a> 
            </li>

        
           
            <% }) %>

    </ul>
    


</div>





<%- include("./partials/footer")  %>